@import "tailwindcss";

:root {
  --bg: #faf4e8;          /* beige suave */
  --bg-board: #fff9ef;    /* mas clarito */
  --text: #3a2f2f;        /* cafe calido */
  --link: #1a4ca3;        /* azul hipano */
  --border: #d5c7b2;      /* borde suave */
  --post-bg: #fff;        /* blanco */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
